// colors default

$black-color: 59, 59, 59;
$white-color: 249, 249, 249;

// colors conditionals.
$bg: rgb($white-color);

// font-families default

$font-paragraph: 'Courier New', Courier, monospace;
$font-title: '';
