@import '../sass-utils/functions';
@import '../sass-utils/variables';
@import '../sass-utils/mixins';

button {
    border: 2px solid set-text-color($bg);
    background-color: $bg;
    color: set-text-color($bg);
}