@import '../sass-utils/functions';
@import '../sass-utils/variables';
@import '../sass-utils/mixins';

.high {
    width: 98%;
    height: 18rem;
    padding: 2rem 0rem;
    margin: 0% 1%;
}

.split {
    width: 100%;
    height: 14rem;
    padding: 2rem 0rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;

    div {
        position: relative;
        margin: 0% 1%;
        transition: all 0.3s ease-in-out;
        &:hover {
            width: 350%;
            
        }
    }
}

.three {
    width: 100%;
    height: 12rem;
    padding: 2rem 0rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;

    div {
        position: relative;
        margin: 0% 1%;
        transition: all 0.3s ease-in-out;
        &:hover {
            width: 350%;
            
        }
    }
}

